The link to the full repository is:
https: // github.com / FabianScott / ComSoc
In the folder 'Assignment2'

In [1]:
import pandas as pd

# Contribution Table in proportions
p1 = [0.5, 0.25, 0.25]
p2 = [0.5, 0.25, 0.25]
p3 = [0.25, 0.25, 0.5]
p4 = [0.25, 0.5, 0.25]
p5 = [0.25, 0.5, 0.25]
pd.DataFrame([p1, p2, p3, p4, p5], columns=['Lucas', 'Alexander', 'Fabian'])

   Lucas  Alexander  Fabian
0   0.50       0.25    0.25
1   0.50       0.25    0.25
2   0.25       0.25    0.50
3   0.25       0.50    0.25
4   0.25       0.50    0.25